*{
                margin: 0;
                padding: 0;
}



#container{
                max-width: 1000px;
                min-width: 320px;
                margin: auto;
                margin-top: 30px ;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
}
img{
                width: 500px;
                
}
.camposinput{
                width: 350px;
                padding-top:40px ;      

}

h1{
                text-align: center;
                font-family: bebas neue;
                padding-top: 20px;
                font-size: 2.5em;
                
}

#spacealtura{
                width: 250px;
                margin: auto;
                display: flex;
                flex-direction: column; 
                align-items: center;
                
}
#spacealtura > label{
                font-size:1.3rem ;
                font-family: helvetica, sans-serif;
                font-weight: bold;
                color: #3526c7;
}
#spacealtura > input{
                padding: 7px;
                border-style: none;
                border-radius: 10px;
                background-color: #51fdfd;
}
#spacepeso{    margin: auto; 
               width: 250px;
               display: flex;
               flex-direction: column; 
               align-items: center; 
}
#spacepeso > label{
                font-size:1.3rem ;
                font-family: helvetica, sans-serif;
                font-weight: bold;
                color: #3526c7;
}
#spacepeso > input{
                padding: 7px;
                border-style: none;
                border-radius: 10px;
                background-color: #51fdfd;
}
#buttoncalculo{
                width: 100px;
                padding: 5px;
                font-family: Helvetica, sans-serif;
                font-weight: bold;
                display: block;
                margin: auto;
                margin-top: 40px;
                border-radius: 20px;
                border-style: none;
                background-color: #e3115c;
                box-shadow: 1px 1px 10px #fd7575;
}

#resultcalc{
                text-align: center;
                font-size: 1.2em;
                margin-top: 25px;
}
#resultconceito{
                text-align: center;
                font-size: 1.5em;
                font-family: ubuntu;
                margin-top: 7px;
}
/* TRABALHANDO NA RESPOSIVIDADE */

@media screen and (max-width: 400px) {
          h1{
                                font-size: 1.5em;
          }      
          img{
                          width: 250px;
                          margin: auto;
          }   
          #container{
                
                width: 320px;
                margin-top: 20px ;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;   
          }
          
          .camposinput{
                          width: 250px;
                          margin: auto;
          }
}