*{
                margin: 0;
                padding: 0;
}

#container{
                max-width: 1000px;
                margin: auto;
                margin-top: 30px ;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
}
img{
                width: 500px;
                
}
.camposinput{
                width: 350px;
                padding-top:40px ;
                
                
}
h1{
                text-align: center;
                font-family: bebas neue;
                padding-top: 20px;
                font-size: 2.5em;
                
}

#spacealtura{
                width: 250px;
                margin: auto;
                display: flex;
                flex-direction: column; 
                align-items: center;
}
#spacealtura > label{
                font-size:1.3rem ;
                font-family: helvetica, sans-serif;
}
#spacealtura > input{
                padding: 5px;
                border-radius: 4px;
}
#spacepeso{    margin: auto; 
               width: 250px;
               display: flex;
               flex-direction: column; 
               align-items: center; 
}
#spacepeso > label{
                font-size:1.3rem ;
                font-family: helvetica, sans-serif;
}
#spacepeso > input{
                padding: 5px;
                border-radius: 4px;
}
#buttoncalculo{
                padding: 5px;
                font-weight: bold;
                display: block;
                margin: auto;
                margin-top: 40px;
}

#resultcalc{
                text-align: center;
                font-size: 1.2em;
                margin-top: 25px;
}
#resultconceito{
                text-align: center;
                font-size: 1.5em;
                font-family: ubuntu;
                margin-top: 7px;
}
